<div class="tweet">
  <table>
    <tr>
      <th class="d-inline-block">
        <img src="<%= user.avatar %>" class="rounded-circle avatar-pic me-4" />
      </th>

      <th class="w-100">
        <p class="fw-bold d-inline"><%= user.firstname %> <%= user.lastname %></p>
        <p class="text-secondary fw-medium d-inline">
          <%= user.username %> · <%= format(tweet.createdAt, "dd/MM/yy", {locale: locale}) %>
        </p>

        <p class="fw-normal"><%= tweet.content %></p>
        <div class="d-flex justify-content-between mb-3">
          <div class="d-flex align-items-baseline gap-1">
            <form method="post">
              <input class="visually-hidden" name="tweetId" value="<%=tweet.id %>" />
              <button type="submit">
                <% if (tweet.likes.length != 0) { %>
                <img src="/img/twitter-icons/icons/like-active.svg" />
                <p class="like-icon m-0"><%= tweet.likes.length %></p>
                <% } else { %>
                <img src="/img/twitter-icons/icons/like.svg" />
              </button>
              <% } %>
            </form>
          </div>
          <% if (user._id === tweet.author) { %>
          <img
            src="/img/twitter-icons/icons/delete.svg"
            class="d-flex justi align-items-end mx-4"
          />
          <% } %>
        </div>
      </th>
    </tr>
  </table>
</div>
